*:focus {
    outline: none;
}

/** Submit Animation */
.btn {
    position: relative;
    &:after {
        content: "";
        width: 0%;
        height: 3rem;
        position: absolute;
        background: #309778;
        top: 0;
        left: 0;
        transition: all 3s;
        z-index: 2;
    }
    &.submit {
        &:after {
            animation: loading 3s;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }
    }
    .loading {
        left: 50%;
        top: -1rem;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 10;
        transform-origin: center;
        animation: spinner 1.5s infinite linear;
        visibility: hidden;
        opacity: 0;
        &.show {
            top: 50%;
            visibility: visible;
            opacity: 1;
        }
    }
}
@keyframes loading {
    0% {
        width: 0%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/** Responsive Table */
@media (min-width: 640px) {
    table {
        display: inline-table !important;
    }

    thead tr:not(:first-child) {
        display: none;
    }
}

/** Botón Whtasapp */
.btn-wtsp {
    box-shadow: 0 13px 16px -12px rgba(18, 58, 46, .5);
}