:root {
    --primary-color: hsl(0, 100%, 50%);
    --primary-color-shade: hsl(2, 97%, 44%);
    --success-color: hsl(81, 97%, 24%);
}

@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/SansSerifFLF.otf");
}

*:focus {
    outline: none;
}

/** Submit Animation */
.btn {
    position: relative;

    &:after {
        content: "";
        width: 0%;
        height: 3rem;
        position: absolute;
        background: #309778;
        top: 0;
        left: 0;
        transition: all 3s;
        z-index: 2;
    }

    &.submit {
        &:after {
            animation: loading 3s;
            animation-fill-mode: forwards;
            animation-delay: 0.2s;
        }
    }

}

/** Message alert */
.message {
    background-color: var(--primary-color);
    color: white;
    gap: .625rem;
    opacity: 0;
    padding: .9375rem;
    position: absolute;
    left: 1.25rem;
    bottom: 1.25rem;
    width: 90%;
    visibility: hidden;
    transition: transform .3s ease-in-out;
    transform: translateY(0.625rem);
}

.message.exito {
    background-color: var(--success-color)
}

.message.error {
    background-color: var(--primary-color)
}

.message.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}